{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1>Your Wishlist</h1>
{% if wishlist.products.all %}
    <ul>
    {% for product in wishlist.products.all %}
        <li>
            <h2>{{ product.name }}</h2>
            <a href="{% url 'profiles:remove_from_wishlist' product.id %}" class="text-danger" >Remove from wishlist</a>
        </li>
        <!-- Shop Now Button -->
        <div class="my-5">
            <h4>
              <a href="{% url 'products:products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
            </h4>
          </div>
    {% endfor %}
    </ul>
{% else %}
    <p>Your wishlist is empty.</p>
{% endif %}
{% endblock %}
