body {
    background-image: linear-gradient(to top, #98dff6, #5fcafb, #1ab2ff, #0096ff, #4176f8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
