/* body {
    background-color: aqua;
    background: url('{% static "images/homepage_background.jpg" %}') no-repeat center center fixed; 
} 
 */

body {
   
    background-image: linear-gradient(to top, #98dff6, #5fcafb, #1ab2ff, #0096ff, #4176f8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;    
}

footer a {
    text-decoration: none !important;
    color: inherit !important; 
} 


/* 
#image-background-home {
    background: url('{% static "images/homepage_background.jpg" %}') no-repeat center center fixed;  
    background-color: aqua; 
}   */

/* a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}  */




.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*mailchimp goes here */


    /* Adjust the form width based on the container size */
    #mc_embed_signup {
        max-width: 600px;
        margin: 0 auto;
    }

    /* Center the form header */
    #mc_embed_signup h2 {
        text-align: center;
    }

    /* Add spacing between form elements */
    #mc_embed_signup .form-group {
        margin-bottom: 15px;
    }

    /* Style the input field */
    #mc_embed_signup input[type="email"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    /* Style the submit button */
    #mc_embed_signup input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    /* Add some space around the subscribe button */
    #mc_embed_signup .optionalParent {
        margin-top: 15px;
    }

/* Style the referral badge image */
#mc_embed_signup .refferal_badge {
    width: 220px;
    height: 40px;
    display: flex;
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
}


