 <footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
      <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <a href="{% url 'home:home' %}">
                  <h2 class="logo-font text-black my-0">Confident Smile</h2>
              </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Information</h5>
              <ul class="list-unstyled mb-0">
                  <li>
                      <i class="fas fa-home mr-3"></i> 1234 Street green, City, Berlin
                  </li>
                  <li>
                      <i class="fas fa-envelope mr-3"></i> confidetnsmile@example.com
                  </li>
                  <li>
                      <i class="fas fa-phone mr-3"></i> +43 234 380 890
                  </li>
                  <li>
                      <i class="fas fa-print mr-3"></i> +43 234 567 470
                  </li>
              </ul>
              <a href="https://www.facebook.com/smile4theworld/" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook fa-lg mr-2"></i> Follow us on Facebook
              </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="{% url 'siteinfo:faq_list' %}">FAQs</a></h5>
        </div>
        
      </div>
  </div>

    <div class="col-md-12">
      <a href="https://www.privacypolicygenerator.info/live.php?token=XOPm2xYLhwnRUDjNXtoazttU5QUshuGj" target="_blank" >Privacy Policy</a>
    </div>
</footer>
