{% load static %}

<!doctype html>
<html lang="en">
<head>
  {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Provide a description for the webpage -->
    <meta name="description" content="By organic and fluoride-free teeth whitening products for a confident smile">

    <!-- Specify keywords related to the webpage content -->
    <meta name="keywords" content="organic teeth whitening, fluoride-free teeth whitening, teeth whitening products">


  <!--   <style type="text/css">
      #mc_embed_signup{background:#fff; false; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;} */
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>  -->

  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
    <script src="https://kit.fontawesome.com/f1f2235153.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      $(document).ready(function() {
        $('#burger-menu').on('click', function() {
          $(this).toggleClass('active');
          $('.navbar-collapse').toggleClass('show');
        });
        $('#search-bar-toggle').on('click', function() {
          $('#search-bar').toggleClass('show');
        });
      });
    </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}
  
  <title>Confident Smile {% block extra_title %}{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'image/favicon/site.webmanifest' %}">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest"> -->

</head>
<body>
    <header class="container-fluid bg-dark text-light">
    
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
    
    </div> 
    <div class="row bg-white">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </div>
      </nav>
    </div>
  </header>

  {% if messages %}
  <div class="message-container">
      {% for message in messages %}
          {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
          {% endwith %}
      {% endfor %}
      
  </div>
  {% endif %}

  

  <main role="main" class="container py-4">
    {% block content %}
    {% endblock %}
  </main>
<!-- 
  <div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
        <form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=77485953b7bd0cae9849c6a5e&amp;id=bd7ef7cf72&amp;f_id=008113e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <h2>Stay Connected!</h2>
                    <p>Subscribe to our newsletter and be the first to know about our latest products, discounts, and much more.</p>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="form-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required="" value="">
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div class="form-group">
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        
                        <input type="text" name="b_77485953b7bd0cae9849c6a5e_bd7ef7cf72" tabindex="-1" value="">
                    </div>
                </div>
                <div class="form-group optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" value="Subscribe">
                        <p style="margin: 0px auto;">
                            <a href="http://eepurl.com/iw54l-" title="Mailchimp - email marketing made easy and fun">
                                <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                    <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

 -->



  {% include 'includes/footer.html' %}


  {% block postloadjs %}
    <script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show()); 
    </script>
{% endblock %}


  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
      (function ($) {
          window.fnames = new Array();
          window.ftypes = new Array();
          fnames[0] = 'EMAIL';
          ftypes[0] = 'email';
          fnames[1] = 'FNAME';
          ftypes[1] = 'text';
          fnames[2] = 'LNAME';
          ftypes[2] = 'text';
          fnames[3] = 'ADDRESS';
          ftypes[3] = 'address';
          fnames[4] = 'PHONE';
          ftypes[4] = 'phone';
          fnames[5] = 'BIRTHDAY';
          ftypes[5] = 'birthday';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
  </script>
   

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let faqQuestions = document.querySelectorAll('.faq-question');
      faqQuestions.forEach((faqQuestion) => {
        faqQuestion.addEventListener('click', function() {
          let faqAnswer = this.nextElementSibling;
          faqAnswer.style.display = faqAnswer.style.display === 'none' ? 'block' : 'none';
        });
      });
    });
  </script>




</body>
</html>