{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Products{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Teeth Whitening Products</h2>
            <h1 class="product-title">{{ product.name }}</h1>

            <!-- Sort Dropdown -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="sortDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdownButton">
                    <li><a href="{% url 'products:products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
                    <li><a href="{% url 'products:products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a></li>
                    <li><a href="{% url 'products:products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a></li>
                    <li><a href="{% url 'products:products' %}" class="dropdown-item">All Products</a></li>
                </ul>
            </div>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="{% url 'products:product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'products:product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <button class="btn btn-primary">
                                    <a class="text-white" href="{% url 'profiles:add_to_wishlist' product.id %}">Add to wishlist</a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
  
<!-- Arrow-up button -->
<div class="btt-button shadow-sm rounded-0 color-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>  
</div>
{% endblock %}
<!-- Arrow-up button -->

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}
